article,
.comments {
  @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}

.excerpt {
  img.excerpt_photo {
    float: left;
    max-width: 130px;
    padding-right: 0.5em;
  }
}

article {
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a:hover {
    @extend %link-hover;
  }
  .footnotes {
    font-size: 0.9em;
  }


  img.main_photo {
    padding-left: 1em;
    padding-bottom: 0.5em;
    max-width: 25%;
    float: right;
  }

  img.medium {
    display: block;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
  }

  img.big {
    display: block;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
  }

  p.right {
    text-align: right;
    a {
      margin-left: 2em;
    }
  }

  p.capitalic {
    font-style: italic;
  }
}

header {
  h1 {
    margin: 0;
  }
  .meta {
    color: rgba($text-color, .5);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
  }
}

.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.author {
  @extend %padding-regular;
  float: left;
  width: 100%;
  .avatar {
    display: inline-block;
    width: 25%;
    max-width: 250px;
    padding: 1%;
  }
  .info {
    vertical-align: top;
    display: inline-block;
    width: 70%;
    h4 {
      margin: 0;
    }
    h5 {
      margin: 0;
    }
    i.fa {
      display: inline-block;
      float: left;
    }
  }
}
