---
layout: default
---
<div class="site-events">
    <ul class="events-list">
        {% for event in site.data.events %}
        <li class='event-item'>
            <a href="{{ event.link }}" target="_blank" class='link-wrapper'>
                <div class="image">
                    <img src="{{ site.baseurl }}img/events/{{ event.picture }}">
                </div>
                {{ event.title }}
                <div class='social-media-wrapper'>
                    {% for sm in event.social_media %}
                    <a href="{{ sm.link }}" title="{{ sm.type }}" class='social-media-icon'>
                        <i class="{{ sm.type | prepend: 'fa fa-fw fa-'}}"></i>
                    </a>
                    {% endfor %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
